<div class="row">
    <div class="col-3" style="padding-right:7px">
        <input type="submit" class="btn btn-info form-control" value="Create" />
    </div>
    <div class="col-3">
        <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
    </div>
</div>
