@model OnlineGroceryLK.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<section class="categories-slider-area bg__white">

    <div class="container" style="padding-bottom:20%; padding-top:5%">
        <h2 class="text-info" style="padding-bottom:5%">Delete Category</h2>

        <form method="post" asp-action="Delete">
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Name" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row" style="padding-left:40%">
                <div class="col-5 offset-2">
                    <partial name="_DeleteAndBackToListButton" model="Model.Id" />
                </div>
            </div>
        </form>
    </div>
</section>
